################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NotebookAPI/v15
/NotebookAPI/bin/Debug/netcoreapp2.1
/NotebookAPI/obj
